/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos para game-panel.componente.jsx 
**********************************************/

#game {
  width: 80%;
    min-width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 2px;
    display: grid;
    perspective: 1000px;
    -webkit-user-select: none;
    user-select: none;
    justify-content: center;
}

#game.intermedio {
  width: 80%;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#game.avancado {
  width: 80%;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

